{% extends 'ciesza_base.html' %}
{% load humanize %}
{% block content %}

    <table>
        <tbody>
        {% for submission in submissions_page_obj %}
            <tr>
                <td>
                    <div class="vote"
                         data-what-type="submission"
                         data-what-id="{{ submission.id }}"
                         data-what-user="{{ request.user }}">
                            <div><i class="fas fa-chevron-up {% if  submission.up_voted %} upvoted {% endif %}"
                                    title="upvote" onclick="vote(this)"></i>
                            </div>
                            <div class="score" style="padding-left: 3px" title="score">{{ submission.score }}</div>
                            <div><i class="fas fa-chevron-down {% if  submission.down_voted %} downvoted {% endif %}"
                                    title="downvote"
                                    onclick="vote(this)"></i></div>
                    </div>
                </td>
                <td class="info-container" style="padding-left: 10px">
                    <a class="thread-title" href="{% url 'CommentsPage' course_id=course_id submission_id=submission.id %}">{{ submission.title }}</a>
                    <br>
                    <h6 class="thread-info">Submitted {{ submission.timestamp|naturaltime }} by <a
                            href="{% url 'CieszaProfilePage' course_id=submission.course_id user_id=submission.author.user_id %}">{{ submission.author_name }}</a></h6>

                    <ul class="buttons">
                        <li><a href="{% url 'CommentsPage' course_id=course_id submission_id=submission.id %}">{{ submission.comment_count }} comments</a></li>
                    </ul>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
        <ul class="pager">
            {% if submissions_page_obj.has_previous %}
                <li class="previous"><a href="?page={{ submissions_page_obj.previous_page_number }}"><span
                        aria-hidden="true">&larr;</span> Previous</a></li>
            {% else %}
                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
            {% endif %}

            {% if submissions_page_obj.has_next %}
                <li class="next"><a href="?page={{ submissions_page_obj.next_page_number }}">Next <span
                        aria-hidden="true">&rarr;</span></a></li>
            {% else %}
                <li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
    </nav>


    <script>
        function vote(element) {
            var whatId = $(element).parent().parent().data("what-id");
            var whatType = $(element).parent().parent().data("what-type");
            var whatUser = $(element).parent().parent().data("what-user")
            var voteType = $(element).attr("title") === "upvote" ? "up_vote" : "down_vote";

            $.ajax({
                type: 'post',
                data: {
                    'what_id': whatId,
                    'what_type': whatType,
                    'vote_type': voteType,
                    'what_user': whatUser,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    $(element).parent().parent().find('.score').html(response.new_score);
                    console.log(response.new_score)

                    if (voteType === "up_vote") {
                        $(element).toggleClass('upvoted');
                        $(element).parent().parent().find('.fa-chevron-down').removeClass('downvoted');
                    } else {
                        $(element).toggleClass('downvoted');
                        $(element).parent().parent().find('.fa-chevron-up').removeClass('upvoted');
                    }
                }
            });
        }
    </script>

{% endblock %}