<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comments for {{ submission.title }}</title>
    <style>
        .reply {
            margin-left: 21px;
        }
    </style>
</head>
<body>
    <h1>{{ submission.title }}</h1>
    <p>Posted by: {{ submission.author_name }}</p>
    <p>Timestamp: {{ submission.timestamp }}</p>
    <p>{{ submission.text }}</p>

    <h2>Comments</h2>
    <div>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="comment">New Comment:</label>
            <input type="text" id="text" name="text" class="form-control" required>
            <button type="submit" name="comment">Comment</button>
        </div>
    </form>
        {% for comment in comments %}
            {% include 'ciesza_comment.html' %}
        {% endfor %}
    </div>
</body>
</html>
