{% extends 'ciesza_base.html' %}
{% load humanize %}

{% block content %}
<head>
    <title>Comments for {{ submission.title }}</title>
    <style>
        .reply {
            margin-left: 3%;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<h2 style="margin-left: 6px"> {{ submission.title }}</h2>
<div class="row">
    <div class="vote"
         data-what-type="submission"
         data-what-id="{{ submission.id }}"
         data-what-user="{{ request.user }}"
         style="width: 2%">
        <div><i class="fas fa-chevron-up {% if  submission.up_voted %} upvoted {% endif %}"
                title="upvote" onclick="vote(this)"></i>
        </div>
        <div class="score" style="padding-left: 3px" title="score">{{ submission.score }}</div>
        <div><i class="fas fa-chevron-down {% if  submission.down_voted %} downvoted {% endif %}"
                title="downvote"
                onclick="vote(this)"></i></div>
    </div>
    <div style="width: 98%">

        <a>Posted {{ submission.timestamp|naturaltime }} by</a>
        <a href="{% url 'CieszaProfilePage' course_id=submission.course_id user_id=submission.author.user_id %}"> {{ submission.author_name }} </a>
        <p style="margin-top: 20px; font-size: 20px; font-family: Inter">{{ submission.text }}</p>

    </div>
</div>
<div>
    <h3>Comments</h3>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="comment">New Comment:</label>
            <input type="text" id="text" name="text" class="form-control" required>
            <button type="submit" name="comment">Comment</button>
        </div>
    </form>
    <br>
    {% for comment in comments %}
        {% include 'ciesza_comment.html' %}
    {% endfor %}
</div>
</body>

<script>
    let replyButtons = document.getElementsByClassName('reply-btn');
    let currentVisibleForm = null;

    for (let i = 0; i < replyButtons.length; i++) {
        replyButtons[i].addEventListener('click', function() {
            let commentId = this.getAttribute('data-commentid');
            let replyForm = document.getElementById('reply-form-' + commentId);

            if (currentVisibleForm && currentVisibleForm !== replyForm) {
                currentVisibleForm.style.display = 'none';
            }

            if (replyForm.style.display === 'block') {
                replyForm.style.display = 'none';
                currentVisibleForm = null;
            } else {
                replyForm.style.display = 'block';
                currentVisibleForm = replyForm;
            }
        });
    }

    function vote(element) {
            var whatId = $(element).parent().parent().data("what-id");
            var whatType = $(element).parent().parent().data("what-type");
            var whatUser = $(element).parent().parent().data("what-user")
            var voteType = $(element).attr("title") === "upvote" ? "up_vote" : "down_vote";

            $.ajax({
                type: 'post',
                data: {
                    'what_id': whatId,
                    'what_type': whatType,
                    'vote_type': voteType,
                    'what_user': whatUser,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // CSRF token for Django
                },
                success: function(response) {
                    // Update the vote count on the page, depending on the response from the server
                    $(element).parent().parent().find('.score').html(response.new_score);
                    console.log(response.new_score)

                    // Toggle the upvoted or downvoted class
                    if (voteType === "up_vote") {
                        $(element).toggleClass('upvoted');
                        $(element).parent().parent().find('.fa-chevron-down').removeClass('downvoted');
                    } else {
                        $(element).toggleClass('downvoted');
                        $(element).parent().parent().find('.fa-chevron-up').removeClass('upvoted');
                    }
                }
            });
        }
</script>
{% endblock %}