{% load humanize %}
<div class="comment">
    <div class="row" style="margin-left: 0%">
    <div class="vote"
         data-what-type="comment"
         data-what-id="{{ comment.id }}"
         data-what-user="{{ request.user }}"
         style="width: 2%">
        <div><i class="fas fa-chevron-up {% if comment.up_voted %} upvoted {% endif %}"
                title="upvote" onclick="vote(this)"></i>
        </div>
        <div class="score" style="padding-left: 3px" title="score">{{ comment.score }}</div>
        <div><i class="fas fa-chevron-down {% if comment.down_voted %} downvoted {% endif %}"
                title="downvote"
                onclick="vote(this)"></i></div>
    </div>
    <div style="width: 98%">

        <a>Commented {{ comment.timestamp|naturaltime }} by </a>
        <a href="{% url 'CieszaProfilePage' course_id=submission.course_id user_id=comment.author.user_id %}">
            {{ comment.author_name }} </a>
        <p style="margin-top: 10px; font-family: Inter; font-size: 20px">{{ comment.text }}</p>

    </div>
</div>

    <button class="reply-btn" data-commentid="{{ comment.id }}">Reply</button>

    <div class="reply-form" id="reply-form-{{ comment.id }}" style="display:none;">
        <form method="post">
            {% csrf_token %}
            <label for="comment"> Reply:</label>
            <input type="text" id="text" name="text" class="form-control" required>
            <input type="hidden" id="parent_comment" name="parent_comment" value="{{ comment.id }}">
            <button type="submit" name="reply">Submit Reply</button>
        </form>
    </div>

    <div class="replies">
        {% for reply in comment.replies.all %}
            <div class="reply">
                {% with comment=reply %}
                    {% include 'ciesza_comment.html' %}
                {% endwith %}
            </div>
        {% endfor %}
    </div>
</div>




