{% extends 'ciesza_base.html' %}
{% load humanize %}
{% block title %} Profile {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3 style="margin-top: 3%; margin-left: 24%; color: #032D23; font-family: Playfair Display; font-size: 40px"> Your Submissions </h3>
            <hr>
            <table>
            <tbody>
            {% for submission in submissions_page_obj %}
                <tr>
                    <td>
                        <div class="vote"
                             data-what-type="submission"
                             data-what-id="{{ submission.id }}"
                             data-what-user="{{ request.user }}">
                                <div><i class="fas fa-chevron-up fa-lg {% if submission.up_voted %} upvoted {% endif %}"
                                        title="upvote" onclick="vote(this)"></i>
                                </div>
                                <div class="score" style="padding-left: 5px; font-size: 18px" title="score">{{ submission.score }}</div>
                                <div><i class="fas fa-chevron-down fa-lg {% if submission.down_voted %} downvoted {% endif %}"
                                        title="downvote"
                                        onclick="vote(this)"></i></div>
                        </div>
                    </td>
                    <td class="info-container" style="padding-left: 10px">
                        <a class="thread-title" href="{% url 'CommentsPage' course_id=course_id submission_id=submission.id %}">{{ submission.title }}</a>
                        <br>
                        <h6 class="thread-info">submitted {{ submission.timestamp|naturaltime }} by <a class="author-and-comments"
                                href="{% url 'CieszaProfilePage' course_id=submission.course_id user_id=submission.author.user_id %}">{{ submission.author_name }}</a></h6>

                        <ul class="buttons">
                            <li><a class="author-and-comments" href="{% url 'CommentsPage' course_id=course_id submission_id=submission.id %}">{{ submission.comment_count }} comments</a></li>
                        </ul>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

            <nav class="center-table" aria-label="Page navigation" style="margin-top: 2rem;">
            <ul class="pagination">
                {% if submissions_page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ submissions_page_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                {% for i in submissions_page_obj.paginator.page_range %}
                <li class="page-item {% if submissions_page_obj.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endfor %}
                {% if submissions_page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ submissions_page_obj.next_page_number }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        </div>

    <div class="col-md-5">
        <h3 style="margin-top: 5%; margin-left: 35%; color: #032D23; font-family: Playfair Display; font-size: 40px"> Profile </h3>
        <hr>
        <div>
            <h3 style="color: #032D23; font-family: Playfair Display; font-size: 30px; margin-left: 4%"> Score: <span id="author-score">{{ author.score }}</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if user_id == request.user.id %}
                <a href="{% url 'CieszaProfileEditPage' user_id=user_id course_id=course_id %}"><i class="fas fa-cog" href></i></a>
                {% endif %}
            </h3>

            <div class="card" style="margin-top: 1%">
                <h3 class="card-header text-center" style="color: #032D23; font-family: Playfair Display; font-size: 20px">Courses</h3>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for course in courses %}
                            <li class="list-group-item" style="color: brown; font-size: 14px; height: 38px">{{ course.course_id }} - {{ course.course_name }}
                            <span style="color: #aaa">[{{ course.semester }}]</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        <!--
            {% for course in courses %}
                <li>
                <label>
                    {{ course.course_id }} - {{ course.course_name }}
                </label>
                </li>
            {% endfor %}
        -->
        </div>
    </div>


    </div>

    <script>
        function vote(element) {
            var whatId = $(element).parent().parent().data("what-id");
            var whatType = $(element).parent().parent().data("what-type");
            var whatUser = $(element).parent().parent().data("what-user")
            var voteType = $(element).attr("title") === "upvote" ? "up_vote" : "down_vote";

            $.ajax({
                type: 'post',
                data: {
                    'what_id': whatId,
                    'what_type': whatType,
                    'vote_type': voteType,
                    'what_user': whatUser,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {

                    $(element).parent().parent().find('.score').html(response.new_score);
                    $('#author-score').html(response.author_score);

                    console.log(response.new_score)


                    if (voteType === "up_vote") {
                        $(element).toggleClass('upvoted');
                        $(element).parent().parent().find('.fa-chevron-down').removeClass('downvoted');
                    } else {
                        $(element).toggleClass('downvoted');
                        $(element).parent().parent().find('.fa-chevron-up').removeClass('upvoted');
                    }
                }
            });
        }
    </script>

{% endblock %}