{% extends 'ciesza_base.html' %}

{% block content %}

<h3 style="margin-top: 4%; margin-left: 30%; color: #032D23; font-family: Playfair Display; font-size: 44px">Submit a New Submission</h3>

<form action="{% url 'SubmitPage' course_id=course_id %}" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="text">Text:</label>
        <textarea id="text" name="text" class="form-control" required></textarea>
    </div>



    <!--
    <div class="form-group">
        <label for="author">Author:</label>
        <select id="author" name="author" class="form-control" required>
            {% for profile in profiles %}
                <option value="{{ profile.id }}">{{ profile.user.username }}</option>
            {% endfor %}
        </select>
    </div>
    -->

    <button type="submit" style="width: 75px; height: 38px; flex-shrink: 0; border-radius: 6px; background: #032D23;
                    color: white; font-family: Inter; font-size: 15px; font-style: normal">Submit</button>

</form>

    <script>
        CKEDITOR.replace('text');
    </script>
{% endblock %}
