{% extends 'manager_base.html' %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col-md-6" style="margin-top: 4%">
            <h2 class="text-center" style="color: #032D23; font-family: Playfair Display; font-size: 40px">Admin Panel</h2>
            <div style="margin-left: 18%; width: 331px; height: 90px; padding: 24px; background: rgba(67, 151, 67, 0.20); box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05); border-radius: 8px; justify-content: center; align-items: center; gap: 148px; display: inline-flex">
              <div style="width: 70px; height: 70px; position: relative">
                <div style="width: 53.96px; height: 53.96px; left: 8.02px; top: 8.02px; position: absolute; background: rgba(3, 45, 35, 0.50);
                    display: flex; align-items: center; justify-content: center">
                    <i class="bi bi-person" style="color: black; font-size: 40px"></i>

            </div>

            </div>
              <div style="flex-direction: column; justify-content: flex-end; align-items: flex-end; display: inline-flex">
                <div style="color: #232D42; font-size: 33px; font-family: Inter; font-weight: 500; word-wrap: break-word">{{ students_count }}</div>
                <div style="width: 100px; text-align: right; color: #032D23; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Students</div>
              </div>
            </div>

            <div style="margin-left: 18%; margin-top: 8%; width: 331px; height: 90px; padding: 24px; background: rgba(3, 45, 35, 0.20); box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05); border-radius: 8px; justify-content: center; align-items: center; gap: 148px; display: inline-flex">
              <div style="width: 70px; height: 70px; position: relative">
                <div style="width: 53.96px; height: 53.96px; left: 8.02px; top: 8.02px; position: absolute; background: rgba(3, 45, 35, 0.50);
                    display: flex; align-items: center; justify-content: center">
                    <i class="bi bi-person" style="color: black; font-size: 40px"></i>

            </div>

            </div>
              <div style="flex-direction: column; justify-content: flex-end; align-items: flex-end; display: inline-flex">
                <div style="color: #232D42; font-size: 33px; font-family: Inter; font-weight: 500; word-wrap: break-word">{{ instructor_count }}</div>
                <div style="width: 100px; text-align: right; color: #032D23; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Instructors+</div>
              </div>
            </div>

            <div style="margin-left: 18%; margin-top: 8%; width: 331px; height: 90px; padding: 24px; background: rgba(66,155,182,0.2); box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05); border-radius: 8px; justify-content: center; align-items: center; gap: 148px; display: inline-flex">
              <div style="width: 70px; height: 70px; position: relative">
                <div style="width: 53.96px; height: 53.96px; left: 8.02px; top: 8.02px; position: absolute; background: rgba(3, 45, 35, 0.50);
                    display: flex; align-items: center; justify-content: center">
                    <i class="bi bi-person" style="color: black; font-size: 40px"></i>

            </div>

            </div>
              <div style="flex-direction: column; justify-content: flex-end; align-items: flex-end; display: inline-flex">
                <div style="color: #232D42; font-size: 33px; font-family: Inter; font-weight: 500; word-wrap: break-word">{{ course_count }}</div>
                <div style="width: 100px; text-align: right; color: #032D23; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Courses</div>
              </div>
            </div>

            <div style="margin-top: 10%; width: 526px; height: 61px; justify-content: center; align-items: center; gap: 50px; display: inline-flex">
            <div style="width: 162px; color: black; font-size: 23px; font-family: Inter; font-weight: 500; word-wrap: break-word">{{ semester.start_date|naturalday }}</div>
          <div style="width: 97px; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Semester</div>
          <div style="width: 162px; text-align: right; color: black; font-size: 23px; font-family: Inter; font-weight: 500; word-wrap: break-word">{{ semester.finish_date|naturalday }}</div>
        </div>
        <div style="width: 526px; height: 21.96px; background: rgba(67, 151, 67, 0.20); border-radius: 6px">
            <div style="width: {{ percentage_complete }}%; height: 21.96px; background: #032D23; border-radius: 6px"></div>
        </div>
        </div>
        <div class="col-md-6" style="margin-top: 4%">
            <h2 class="text-center" style="color: #032D23; font-family: Playfair Display; font-size: 40px">Announcements</h2>
            <ul class="list-group">
                {% for announcement in announcements_obj %}
                    <li class="list-group-item">
                        <h6>{{ announcement.title|safe }}</h6>
                        <p>{{ announcement.content|safe }}</p>
                        {% if announcement.url %}
                            <a href="{{ announcement.url }}" target="_blank" style="color: #439743">Read more</a>
                        {% endif %}
                    </li>
                {% empty %}
                    <li class="list-group-item">No announcements available.</li>
                {% endfor %}
            </ul>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if announcements_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ announcements_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                {% for i in announcements_obj.paginator.page_range %}
                <li class="page-item {% if announcements_obj.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endfor %}
                {% if announcements_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ announcements_obj.next_page_number }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        </div>
    </div>
{% endblock %}
