{% extends 'manager_base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h2>Add a New Semester</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit">Add Semester</button>
  </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}