{% extends 'manager_base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="row">
    <div class="col-md-6">
      <h2>Add a new course</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.non_field_errors }}

        <div class="fieldWrapper">
          {{ form.course_id.errors }}
          <label for="{{ form.course_id.id_for_label }}">Course ID:</label>
          {{ form.course_id|add_class:"textinput form-control" }}
        </div>

        <div class="fieldWrapper">
          {{ form.course_name.errors }}
          <label for="{{ form.course_name.id_for_label }}">Course Name:</label>
          {{ form.course_name|add_class:"textinput form-control" }}
        </div>

        <div class="fieldWrapper">
          {{ form.description.errors }}
          <label for="{{ form.description.id_for_label }}">Description:</label>
          {{ form.description }}
        </div>

        <div class="fieldWrapper">
          {{ form.course_credit.errors }}
          <label for="{{ form.course_credit.id_for_label }}">Course Credit:</label>
          {{ form.course_credit|add_class:"textinput form-control" }}
        </div>

        <div class="fieldWrapper">
          {{ form.semester.errors }}
          <label for="{{ form.semester.id_for_label }}">Semester:</label>
          {{ form.semester|add_class:"select2 form-control" }}
        </div>

          <br>
        <button type="submit" style="width: 105px; height: 44px; flex-shrink: 0; border-radius: 6px; background: #032D23;
                    color: white; font-family: Inter; font-size: 16px; font-style: normal">Add course</button>
      </form>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>

        <div class="course-list col-md-6">
            <h3>All courses</h3>
              <ul>
                {% for course in page_obj %}
                  <li>
                    <label>
                      {{ course.course_id }} - {{ course.course_name }}
                      <input type="radio" name="selected_courses" value="{{ course.pk }}">
                    </label>
                  </li>
                  <br>
                {% empty %}
                  <li>No courses available</li>
                {% endfor %}
              </ul>

              <button type="submit" id="edit-button" name="edit_course" style="width: 55px; height: 28px; flex-shrink: 0; border-radius: 6px; background: #032D23;
                    color: white; font-family: Inter; font-size: 15px; font-style: normal" disabled>Edit Selected Course</button>

              <script>
                  $(document).ready(function() {
                    $('.select2').select2();
                  });

                  const radios = document.querySelectorAll('input[name="selected_courses"]');
                  const editButton = document.getElementById('edit-button');

                  radios.forEach((radio) => {
                    radio.addEventListener('change', () => {
                      const anyRadioChecked = [...radios].some((radio) => radio.checked);
                      editButton.disabled = !anyRadioChecked;
                    });
                  });

                  editButton.addEventListener('click', () => {
                    const selectedCourses = [...radios].find((radio) => radio.checked).value;

                    const editURL = `/manager/course/${selectedCourses}/edit/`;
                    window.location.href = editURL;
                  });
                </script>


            <br>
            <br>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                  </li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                  <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
        </div>
    </div>
{% endblock %}