{% extends 'instructor_base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center" style="color: #032D23; font-family: Playfair Display; font-size: 40px; margin-top: 4%">Grades for {{ section }}</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <table class="table" style="margin-top: 10%">
                <thead>
                    <tr>
                        <th style="color: #032D23; font-family: Playfair Display; font-size: 18px" scope="col">#</th>
                        <th style="color: #032D23; font-family: Playfair Display; font-size: 18px" scope="col">Student</th>
                        <th style="color: #032D23; font-family: Playfair Display; font-size: 18px" scope="col">Grade</th>
                    </tr>
                </thead>
                <tbody>
                {% for student in students_page_obj %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
                        <td>
                            <input type="number" name="grades[]" class="textinput form-control" value="{{ student.grade }}">
                            <input type="hidden" name="student_ids[]" value="{{ student.id }}">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit" style="width:129px; height: 38px ; flex-shrink: 0; border-radius: 6px; background: #032D23;
                    color: white; font-family: Inter; font-size: 15px; font-style: normal">Submit Grades</button>
        </form>

        <br><br>
        <nav aria-label="Page navigation">
              <ul class="pagination">
                {% if students_page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ students_page_obj.previous_page_number }}">Previous</a>
                  </li>
                {% endif %}
                {% for i in students_page_obj.paginator.page_range %}
                  <li class="page-item {% if students_page_obj.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                {% endfor %}
                {% if students_page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ students_page_obj.next_page_number }}">Next</a>
                  </li>
                {% endif %}
              </ul>
            </nav>

    </div>
</div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
