{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Home Page </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    {% load static %}
    {% load crispy_forms_tags %}
</head>
<body>
<div class="row" style="width: 1550px">

    <div class="col-md-6">
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 10%">
            <img src="../../media/images/1200px-Hacettepe_universitesi_Logosu.png" style="width: 59px; height: 83px; margin-right: 10px;" alt="Logo">
            <h1 style="color: #032D23; font-feature-settings: 'clig' off, 'liga' off; font-family: Playfair Display; font-size: 48px;
                font-style: normal;">CIES</h1>
        </div>
        <div style="margin-left: 38%; margin-top: 10%">
            <h1 style="color: #032D23; font-family: Playfair Display; font-size: 40px">Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="checkbox" onclick="showPassword('id_password')">Show Password
                <button type="submit" style="width: 385px; height: 64px; flex-shrink: 0; border-radius: 6px; background: #032D23;
                    color: white; font-family: Inter; font-size: 20px; font-style: normal">Log in</button>
                <br><br>
                Don't have an account? <a href="{% url 'RegisterPage' %}" style="color: #AAA713">Enroll here.</a>
                <br><br>
                <a href="{% url 'Forgotpassword' %}" style="color:#AAA713;"> Forgot Password? </a>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <img src="../../media/images/elif_tekinay&Hilal_nur_koyuncu.png" width="100%" height="747px" style="object-fit: cover" alt="Home image">
    </div>
</div>
<script>
function showPassword(inputId) {
  var x = document.getElementById(inputId);
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
</body>
</html>